.archive-collections {

  h3 {
    font-family: $font__supria-sans;
    margin: 1.5rem 0 1rem;
    font-size: 1.4rem;
  }

  &__container {
    padding: 1rem;
    max-height: 15rem;
    border: $color__yellow-2 solid 2px;
    overflow: auto;
    margin: 0 0 4rem;
    background: $color__yellow_5;
  }

  &__list {
    margin: 0;
  }

}