.card-group {
    &-secondary-nav {

      display: inline-block;

      &__link {
        @extend .tna-card__link;
        color: $color__black;

        &:visited {
          color: $color__black;
        }
        &:hover {
          outline: 5px solid $color__card-hover;
          background: $color__card-hover;
          color: $color__white;
        }
        &:focus {
          background: $color__focus-blue-outline-light-bg;
          h2,h3,h4 {
            text-decoration: none;
          }
        }
        &:hover, &:focus {
          color: $color__white;
        }
      }

      &__image {
        @extend .tna-card__image;
        border: 1px solid $color__black;
      }

      @media only screen and (min-width: $screen__lg) {
        display: block;
      }

    }

    &-promo {
      padding: 1rem;
      margin-bottom: 1rem;

      &--dark {
        @extend .card-group-promo;
        background-color: $color__dark;
        color: $color__white;

        a, hr {
          color: $color__white;
        }

      }

      &__card {
        &-image {
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          display: block;
        }

        &-heading {
          font-weight: 400;
          font-size: 1.5rem;
        }
      }

    }
}
