.card-group {

  &-text-nav {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    width: 100%;

    &--green {
      @extend .card-group-text-nav;

      .card-group-text-nav__link {
        background-color: $color__green;
        border-color: $color__green;

        &:hover {
          border-color: $color__dark;
        }
      }
    }

    &__link {
      @extend .tna-card__link;
      color: $color__black;
      display: block;
      width: 100%;
      height: 7rem;
      border: 2px solid #26262a;

      @include explorer-link;
    }

    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding-left: .7rem;
      padding-right: .7rem;
    }

    .tna-card__heading {
      margin: 0;
    }

    @media only screen and (min-width: $screen__lg) {
      display: block;
    }
  }


  &-secondary-nav {

    display: inline-block;

    &__link {
      @extend .tna-card__link;
      @include explorer-link;
    }

    &__image {
      @extend .tna-card__image;
      border: 0.0625rem solid $color__black;
    }

    @media only screen and (min-width: $screen__lg) {
      display: block;
    }

  }

  &-record-summary {

    display: inline-block;

    &__image {
      @extend .tna-card__image;
      border: 0.0625rem solid $color__black;
    }

    &__link {
      @extend .tna-card__link;
      @include explorer-link;

      text-decoration: underline;
    }

    &__body {
      margin-top: 1rem;
    }

  }

  &-promo {
    padding: 1rem;
    margin-bottom: 1rem;

    &--dark {
      @extend .card-group-promo;
      background-color: $color__dark;
      color: $color__white;
      padding: 1rem 2rem;

      a, hr {
        color: $color__white;
      }

    }

    &__card {
      &-image {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
      }

      &-heading {
        font-weight: 400;
        font-size: 1.5rem;
      }
    }

    &__heading {
      margin: 0;
    }
  }
}
