
.card-group {
    &-secondary-nav {

      &__link {
        @extend .tna-card__link;
        color: #000;

        max-width: 272px;

        &:visited {
          color: #000;
        }
        &:hover {
          outline: 5px solid #134571;
          background: #134571;
        }
        &:focus {
          background: #1d70b8;
          h2,h3,h4 {
            text-decoration: none;
          }
        }
        &:hover, &:focus {
          color: #fff;
        }
      }

      &__image {
        @extend .tna-card__image;
      }

      display: inline-block;

      @media only screen and (min-width: $screen__lg) {
        display: block;
      }

    }
}