.explorer-header {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #26262a;
    color: #fff;
    .explorer-header__title {
        margin-top: 0;
        font-size: 5.5em;
        font-weight: 400;
    }
}