.generic-intro {
  padding-top: 1em;
  padding-bottom: 1em;

  &--dark {
    background-color: $color__grey-dark;
    color: $color__white;

    a {
      color: $color__white;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 4em;
    font-weight: 400;
    @media (max-width: $screen__md) {
      font-size: 2.5em;
    }
  }
}
