.hierarchy-local {

  display: none;

  @media only screen and (min-width: $screen__lg) {
    text-align: center;
    display: block;
    padding: 2rem 0 1rem;
    margin: 1rem 0 0;
    border-top: 5px solid $color__grey-5;
  }

  &__nav-item {

    a {
      display: block;

      .reference {
        color: $color__white;
        display: inline-block;
        background: $color__link;
        margin-right: 0.7rem;
        padding: 0 0.3rem;
        font-weight: bold;
      }
    }

    &--left {
      background: url($chevron_left) no-repeat;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 auto 1rem;
    }

    &--up {
      background: url($chevron_up) no-repeat;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 auto 1rem;
    }

    &--right {
      background: url($chevron_right) no-repeat;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 auto 1rem;
    }
  }
}