.hierarchy-global {

  &__heading {
    padding: 1rem;
    border-top: 1px dotted $color__grey-3;


      @media only screen and (min-width: $screen__lg) {
        padding: 1rem;
        text-align: center;
      }

    h2 {
      margin: 1rem 0 0 0;
      font-size: 1.3rem;
      border-bottom: 5px solid $color__grey-4;
      padding: 1rem 0 0.5rem;
      display: inline-block;


    }

    p {
      margin: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

      li {
        background: url($arrow_down) no-repeat 1rem 1.75rem;
        background-size: 0.9rem;
        border-bottom: 1px solid $color__grey-4;
        padding: 2rem 2rem 2rem 3rem;

        @media only screen and (min-width: $screen__lg) {
          padding: 1.5rem 1.5rem 1.5rem 3rem;
        }



        .reference {
          display: block;
          color: $color__black;
          font-weight: bold;
        }
      }
    .current {
      background: $color__link url($arrow_right) no-repeat 1rem 1.9rem;
      background-size: 0.9rem;
      color: $color__white;
      border-bottom: 0;


      span.reference {
        color: $color__white;
      }

      span.location {
        color: $color__white;
        display: inline-block;
        font-size: 1rem;

        margin-bottom: 0.35rem;
      }
    }
  }



  /* Block modifier: Makes the hierarchy sticky on scroll (xl screen size only) */
  &--sticky {

    @media only screen and (min-width: $screen__xl) {
      position: sticky;
      top: 0;
    }
  }
}