.jumplinks {
  background-color: $color__blue_3;
  padding: 2rem;

  &__heading {
    margin-bottom: 2rem;
  }

  &__list {
    column-count: 2;
    padding-left: 1rem;
  }

  &__list-item {
    margin: 0 1rem 1rem 1.2rem;
  }

  .jumplink:focus {
    outline: 0.313rem solid $color__white;
  }
}

.jumplinks__heading, .jumplinks__list-item, .jumplink, .jumplink:visited {
  color: #fff;
  font-family: $font__roboto;
}

@media only screen and (max-width: $screen__md)  {
  .jumplinks__list {
    column-count: 1;
  }
}
