.key-facts__author {
  background-color: $color__blue_3;
  padding: 2rem 0;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);

  &-image-container {
    text-align: center;
  }

  &-info {
    text-align: left;
    margin-right: 4rem;
  }

  &-info-heading, &-info-text {
    color: $color__white;
  }
}
