a {
  transition: background-color $transition_duration, color $transition_duration;
  &:focus {
    outline: 0.313rem solid $color__focus-blue-outline-light-bg;
  }
}

[class*="--dark"] {
  a {
    &:focus {
      outline: 0.313rem solid $color__focus-blue-outline-dark-bg;
    }
  }
}
