.jumplinks {
  background-color: #12477a;
  padding: 2rem;
}

.jumplinks__heading {
  margin-bottom: 2rem;
}

.jumplinks__list {
  column-count: 2;
  padding-left: 1rem;
}

.jumplink__list-item {
  margin: 0 1em 0.5em 1.2em;
}

.jumplinks__heading, .jumplink__list-item, .jumplink, .jumplink:visited {
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
}
